[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests-html = "*"
colorama = "*"
tabulate = "*"

[dev-packages]
pylint-fail-under = "*"
pylint = "*"
argh = "*"
black = "*"
jedi = "*"
twine = "*"
dataclasses = "*"
typing-extensions = "*"

[scripts]
"fix:style" = "black -l 100 -S tpsp"
"check:lint" = "pylint --fail-under 9 --rcfile .pylintrc --output-format colorized --verbose tpsp"
"check:style" = "black -l 100 -S --check tpsp"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
