[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests-html = "*"
colorama = "*"
tabulate = "*"

[dev-packages]
pylint-fail-under = "*"
pylint = "*"
argh = "*"
black = "*"
jedi = "*"
twine = "*"

[scripts]
standard = "black -S tpsp"
lint = "pylint tpsp"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
